# docker-compose.yml
# Generic ZeroTier container - network ID injected by Ansible at runtime
# https://github.com/mrnet-work/zerotier-docker-yml

services:
  zerotier:
    image: zerotier/zerotier:latest
    container_name: zerotier-one
    restart: unless-stopped
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - zt-state:/var/lib/zerotier-one
    # command: will be added/updated by Ansible (do not set here)
    # Example of what Ansible will inject:
    # command: sh -c "zerotier-one -d && sleep 5 && zerotier-cli join YOUR_ID && tail -f /dev/null"

volumes:
  zt-state:
